body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.banner-part{
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center center;
}
.apps-part{
    background-image: url(../images/mobile-app-bg.jpg);
    background-size: cover;
    background-position: center center;
}